@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    background: var(--very-light-gray);
    transition: 0.4s ease-in-out;
}

* {
    box-sizing: border-box;
}

:root {
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-blue: hsl(207, 26%, 17%);
    --very-dark-blue-text: hsl(200, 15%, 8%);
    --dark-gray: hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

.shadow {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 900px;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 3rem;
    }
}